#div{
margin-top: 50px;
}
#loc{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-left: 1%;
    display: inline;
    /* margin-left: 10%; */
    margin-bottom: 2%;
    border: 3px solid #0F1B4C ;

    
    
}
#loc:hover{
    background-color: #fff;
      color: #0F1B4C;
      border-color: #0F1B4C;
      cursor: pointer;
}

#year{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-left: 1%;
    display: inline;
    /* margin-left: 10%; */
    margin-bottom: 2%;
    border: 3px solid #0F1B4C ;

    
    
}
#year:hover{
    background-color: #fff;
      color: #0F1B4C;
      border-color: #0F1B4C;
      cursor: pointer;
}

#label{
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: lighter;
    padding: 5px;
    align-items:center;
    
}
#input{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-left: 1%;
    font-size: 15px;
    display: inline-flex;
    /* margin-left: 10%; */
    border: 3px solid #0F1B4C ;
    
}
#input:hover{
    background-color: #fff;
      color: #0F1B4C;
      border-color: #0F1B4C;
}
#button{
    background-color: #0F1B4C;
    color: #fff;
    font-weight: "700";
    font-size:  "14px";
    padding: "20px";
    /* border-radius: 10px; */
    text-transform: "none";
    border: 3px solid transparent;
    width: 200px;
    height: 50px;
    align-self: center;
    cursor: pointer;
    
 
}
#button:hover{
    background-color: #fff;
      color: #0F1B4C;
      border-color: #0F1B4C;
}
#para{
    text-align: center;
    color: #fff;
    padding: 1%;
    font-weight: light;
    font-size: 18px;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    display: none;
}